*{
	margin: 0;
	padding: 0;
	font-family: roboto;
	auser-select: none;
	color: white;
}

body{
	background-color: black;
}

/* Padrão */

a{
    text-decoration: none;
}





button{
	margin: 10px;
    padding: 10px 20px;
}

.logo{
    height: 25px;
}

/* Navegação e Menu */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #191919;
}




/* Menu */

nav div{
    height: 56px;
    padding: 0px 16px;
    width: max-content;
    display: flex;
    align-items: center;
}

nav ul li{
    display: flex;
}

nav ul li a{
    padding: 5px;
    margin: 5px;
}

nav ul li a:hover{
    background-color: #c80000;
    color: white;
}

/* Navegação e Menu */
.conteudo_destaque{
	width: 100%;
	height: 500px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo_destaque img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	filter: brightness(1.5);
}

.conteudo_destaque .sobreposicao{
	position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.conteudo_destaque .sobreposicao h1{
	color: white;
}

.conteudo_destaque .sobreposicao span{
	color: white;
}

.sobreposicao .flex{
    width: 100%;
}

.sobreposicao .flex a{
	margin: 10px;
    width: 100%;
}

.sobreposicao .flex a button{
    width: inherit;
    margin: 0;
}

/* Conteúdo Planos */
.box_conteudo{
	width: calc(100% - 60px);
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_conteudo .texto_planos{
	text-align: center;
	padding: 0 0 30px 0;
}

.box_conteudo .lista_planos{
	display: flex;
	width: 100%;
	awidth: 1200px;
	flex-flow: wrap;
	justify-content: center;
}

.box_conteudo .lista_planos .planos{
	display: flex;
	border-radius: 5px;
	border: 2px solid #c80000;
	flex-direction: column;
	width: calc(100% / 4 - 44px);
	margin: 5px;
  	animation: borda_colorida linear 5s infinite;
  	background: linear-gradient(30deg, #000 50%, #c8000080 95%);
  	align-items: center;
  	padding: 15px;
}

@keyframes borda_coloridaa {
  from {border: 2px solid white;}
  to {border: 2px solid orange;}
}

@keyframes borda_coloridaa {
  0%{
  border: 2px solid black;
  }
  
  50%{
  border: 2px solid #c80000;
  }
  
  100%{
  border: 2px solid black;
  }
}


.box_conteudo .lista_planos .planos .nome_plano{
	display: flex;
    justify-content: center;
    align-items: center;
}

.box_conteudo .lista_planos .planos .valor_plano{
	padding: 15px;
	font-size: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
}

.itens_plano{
	padding: 15px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itens_plano li{
	list-style: none;
	margin: 5px 0;
}

/* teste */

.box_conteudo .titulo h1{
	text-align: center;
    padding: 0 0 30px 0;
}

.box_conteudo .lista_itens{
    display: flex;
    awidth: 100%;
    width: 1200px;
    flex-flow: wrap;
    justify-content: center;
}

.box_conteudo .lista_itens .item_box{
    display: flex;
    border-radius: 5px;
    aborder: 2px solid #c80000;
    flex-direction: column;
    awidth: calc(100% / 3 - 44px);
    margin: 5px;
    animation: borda_colorida linear 5s infinite;
    abackground: linear-gradient(180deg, #000 0%, #c8000080 100%);
    align-items: center;
    padding: 15px;
    height: 122px;
    width: calc(100% / 3 - 40px);
    background: linear-gradient(0deg, rgb(25 25 25) 10%, rgb(100 0 0) 90%);
}

.box_conteudo .lista_itens .item_box #icon_item{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box_conteudo .lista_itens .item_box .nome_item{
	text-align: center;
	padding: 15px;
}

.box_conteudo .lista_itens .item_box .descricao_item{
	text-align: center;
}


/* Rodapé */
footer{
	background-color: #191919;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
}

footer span{
	color: white;
}

footer .icon_redes a{
	margin: 0 10px;
	font-size: 20px;
}

/* Unitários */


.botao_vazado{
	background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.botao{
	background-color: #c80000;
    border: 2px solid #c80000;
    border-radius: 5px;
    color: white;
}

.botao_whatsapp{
	background-color: #26d366;
    border: 2px solid #26d366;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_whatsapp i{
	margin-right: 10px;
}

.divisoria{
	width: 75%;
	height: 2px;
	background-color: #c80000;
}

.left{
	justify-content: left;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}


#botao_menu_aparecer{
        display: none;
    }

    #botao_menu_apagar{
        display: none;
    }






/* */
@media only screen and (max-width: 600px) {
    nav{
    display: block;
   }

   nav div{
    display: flex;
    justify-content: space-between;
    width: inherit;
   }

    nav ul{
    display: none;
    padding: 0;
   }

    nav ul li{
    flex-direction: column;
   }

    nav ul li a{
    margin: 0;
    padding: 10px;
   }

    #botao_menu_aparecer{
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: transparent;
    }

    #botao_menu_apagar{
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: transparent;
    }
}
